@page "/"
@using System.Management
@using System.Management.Automation

<div>@output</div>

<input @bind="@script" />
<button @onclick="@(async () => { await runScript(script, new Dictionary<string, object>()); })">Run Script</button>


@code{
    string output = "";
    string script = "";

    private async Task runScript(string scriptContents, Dictionary<string, object> scriptParameters)
    {
        // create a new hosted PowerShell instance using the default runspace.
        using (PowerShell ps = PowerShell.Create())
        {
            // specify the script code to run.
            ps.AddScript(scriptContents);

            // specify the parameters to pass into the script.
            ps.AddParameters(scriptParameters);

            // execute the script and await the result.
            var pipelineObjects = await ps.InvokeAsync().ConfigureAwait(false);

            // print the resulting pipeline objects to the console.
            foreach (var item in pipelineObjects)
            {
                Console.WriteLine(item.BaseObject.ToString());
            }
        }
    }
}